body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

#b1 {

}