body {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
}

.boton {
    margin-top: 20px;
    background-color: brown;
    width: 200px;
    height: 120px;
    font-size: x-large;
    border: 5px groove gray;
    border-radius: 50px;
}

#b1 {
    transition: border-radius 0.5s, transform 1s, background-color 0.5s;
}

#b1:active {
    border-radius: 10px;
    transform: scale(0.9);
    background-color: gray;
}

#b2 {
    opacity: 0;
    transition-property: opacity;
}

#b2:hover {
    opacity: 1;
}

#b3 {
    transition: color 2s 1.5s, transform 2s;
}

#b3:hover {
    color: antiquewhite;
    transform: rotateZ(720deg);
}

#b4 {
    transition: transform 3s;
}

#b4:active {
    transform: translateY(300%);
}

#b5 {
    transition: color 2s, background-color 1s 1.5s, transform 1s;
}

#b5:hover {
    color: brown;
    background-color: black;
    transform: scale(1.1);
}