@import url(reset.css);

* {
	font-family: 'Roboto', sans-serif;
}

body {
	font-size: 62.5%;
}

#contenido {
	margin: 15px 15px 15px 15px;
	border: 2px dashed brown;
}

#contenido > p:nth-child(2) {
	color: brown;
	font-weight: bold;
}

#galeria {
	text-align: center;
}

.figura {
	display: inline-block;
}

#galeria .figura p {
	font-size: 1.1em;
	line-height: normal;
	position: relative;
	bottom: 40px;
	text-align: center;
}

h1 {
	font: normal 2.4em 'Roboto', Arial, Helvetica, sans-serif;
	margin: 0;
	border-bottom: 2px dashed brown;
	padding: 5px 0 5px 8px;
	color: brown;
}
p {
	font: 1.1em 'Roboto', "Times New Roman", Times, serif;
	margin: 10px 8px;
}

.foto {
	float: left;
	width:210px;
	height:160px;
	margin: 10px;
	padding:7px;
	background-color: brown;
	box-shadow: 5px 5px 5px;
	text-align:center;
	border-radius: 10px;
}

img {
	border-radius: 5px;
	box-shadow: 5px 5px 5px;
}