body {
    background-image: url(../imagenes/fondo_div.png);
    background-repeat: repeat-x;
    background-size: cover;
}

section {
    width: 800px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}


.parrafo {
    margin-left: 15%;
    
}

.parrafo::first-line {
    color: gray;
}

ul {
    float: right;
    margin: 3em 1em 1em 1em;
    color: white;
}